<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Create a new note</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://cdn.quilljs.com/1.1.3/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.1.3/quill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link
      href="https://cdn.quilljs.com/1.1.3/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.1.3/quill.bubble.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 class="childHeadingContainer" id="NewNoteHeader">Create a New Note</h1>

    <form class="formBox" action="/notes" method="POST">
      <label for="titleInput">Title</label>
      <input
        type="text"
        name="title"
        id="titleInput"
        placeholder="Enter a title..."
      />
      <label for="contentsInput">Contents</label>
      <textarea
        name="contents"
        id="contentsInput"
        cols="30"
        rows="10"
        placeholder="Enter your content..."
      ></textarea>
      <div id="childButtonContainer">
        <button type="submit" class="btn btn-primary" id="CreateNote">
          Create Note +
        </button>
      </div>
    </form>

    <div id="toolbar"></div>
    <div id="editor"></div>
    <script>
      var toolbarOptions = [
        ["bold", "italic", "underline", "strike"],
        ["blockquote", "codeblock"],
      ];

      var quill = new Quill("#editor", {
        modules: {
          toolbar: toolbarOptions,
        },
        theme: "snow",
      });
    </script>
  </body>
</html>
