<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Note</title>

    <style>
      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .content {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: #d5d5d5;
      }
      .deleteAndBackCont {
        display: flex;
        align-items: center;
        gap: 20rem;
        padding-top: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="parentContainer">
      <h1><%= note.title %></h1>
      <p class="content"><%= note.contents %></p>
      <p><%= new Date (note.timeStamp) %></p>
      <div class="deleteAndBackCont">
        <a href="/notes">
          <button class="backNoteBtn">Back</button>
        </a>
        <form action="/notes/<%= note.id %> /delete" method="post">
          <button type="submit" class="primaryNoteBtn">Delete Note</button>
        </form>
      </div>
    </div>
  </body>
</html>
